<table class="table-data">
  <tr>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <tr *ngFor = "let data of tableDataRes; let i = index;" >
      <td>
        <input [(ngModel)]="data.name" class="form-control" type="text" name="{{data.name}}" />
      </td>
      <td>
        <input [(ngModel)]="data.age" class="form-control" type="text" name="{{data.age}}" />
      </td>
      <td><button type="button" id="deleteRowBtn" (click)="deleteRow(i)">delete</button></td>
  </tr>
  <tr>
      <td>
        <input [(ngModel)]="newAttribute.name" class="form-control" type="text" name="{{newAttribute.name}}" />
      </td>
      <td>
        <input [(ngModel)]="newAttribute.age" class="form-control" type="text" name="{{newAttribute.age}}" />
      </td>
      <td><button type="button" id="deleteRowBtn" (click)="deleteRow(i)">delete</button></td>
      </tr>
      <button class="addRow" type="button" (click)="addRow()">add Row</button>
  </table>

